.header {
    display: flex;
    align-items: center;
    height: 135px;
    width: 100%;
    background-color: $theme-grey;

    img {
        width: 200px;
        height: 120px;
        margin-top: 10px;
    }

    h1 {
        font-size: 50px;
        color: $theme-red;
        margin-left: 500px;
        margin-right: 500px;
        &:hover {
            cursor: default;
            color: white;
            text-shadow: 2px 2px 8px $theme-red;
        }
    }

    button {
        border: none;
        background: none;
        margin: 10px;
        color: $theme-red;
        &:hover {
            color: white;
            text-shadow: 2px 2px 8px $theme-red;
        }
    }
}

