.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135px;
    width: 100%;
    background-color: rgb(36, 35, 35);

    img {
        width: 200px;
        height: 120px;
        margin-top: 10px;
    }

    h1 {
        font-size: 50px;
        color: $theme-red;
        margin-left: 400px;
        margin-right: 500px;
        &:hover {
            color: white;
            text-shadow: 2px 2px 8px $theme-red;
        }
    }

    button, p {
        border: none;
        background: none;
        margin: 10px;
        color: $theme-red;
        outline: none;
        &:hover {
            color: white;
            text-shadow: 2px 2px 8px $theme-red;
        }
    }

    
}

.modal-body {
    display: flex;
    justify-content: center;

    .register-form {
        input {
            margin-bottom: 10px;
        }
    }
}

.submit-btn {
    margin-left: 50px;
}