$theme-grey: #333333;
$theme-red: #A62C2A;
$theme-hover-grey: #535353;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    font-size: 16px;
    display: flex;
    font-family: "Sans Serif", sans-serif;
}

#root {
    height: 100%;
    width: 100%;
    background-color: $theme-grey;
}
@import "header.scss", "welcome.scss", "sideBar.scss", "about.scss", "todo.scss";