* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body {
    font-size: 16px;
    display: flex;
    font-family: "Sans Serif", sans-serif;
}

#root {
    height: 100%;
    width: 100%;
}
@import "header.scss"