.side-bar {
    display: flex;
    flex-direction: column;
    background-color: $theme-red;
    height: 803px;
    width: 5%;
    transition: all ease-in-out 0.5s;

    &:hover {
        width:10%;
        .nav-link {
            display: block;
    }
}

    .link-div {
        display: flex;
        flex-direction: row;
        &:hover {
           background-color:$theme-hover-grey;
           cursor: pointer;
           .icon {
               color:$theme-red;
           }
           .nav-link {
               color:$theme-red;
           }
        }
    }

    .icon-home {
        font-size: 20px;
        color: $theme-grey;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 15px;
        &:hover {
            cursor: pointer;
        }
    }
    .icon-user {
        font-size: 20px;
        color: $theme-grey;
        margin-top: 10px;
        margin-left: 14px;
        margin-bottom: 15px;
        &:hover {
            cursor: pointer;
        }
    }

    .nav-link {
        color: $theme-grey;
        display: none;
        margin-left: 10px;
        margin-bottom: 5px;
    }

}