.todo-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(36, 35, 35);
    margin: auto;
    margin-top: 100px;
    width: 30%;
    height: 500px;
    border: 5px solid $theme-red;
    transition: all ease-in-out 0.3s;
    z-index: 1;
    &:hover {
        box-shadow: 0px 0px 20px 20px $theme-red;
    }

    h1 {
        color: $theme-red;
        display: inline-block;
        &:hover {
            cursor: default;
        }
    }

    .sections {
        display: flex;
        width: 100%;
        div {
            width: 50%;
            
        }
        .buttons {
            background: $theme-red;
            color: $theme-grey;
            border-color: $theme-red;
            border: solid;
            width: 100%;
            padding: 5px;
            &:hover {
                color: white;
            }

            .icon-briefcase, .icon-check {
                margin-right: 5px;
            }
        }
    }

    .submit-form {
        width: 95%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        input {
            width: 370px;
            margin-left: 20px;
            outline: none;
        }
        
        button {
            height: 100%;
            width: 60px;
            background: $theme-red;
            color: $theme-grey;
            border-color: $theme-red;
            border: none;
            border-radius: 0px 20px 20px 0px;
            &:hover {
                color: white;
            }
        }
    }

    .todo-list {
        width: 100%;
        height: 25px;
        display: flex;
        flex-direction: column;
        
      

        .todo-item {
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            padding-top: 5px;
            padding-bottom: 5px;
            border: 2px solid rgb(36, 35, 35);
            &:hover {
                background: $theme-red;
                
                cursor: pointer;
                span {
                    color: $theme-grey;
                }

                button {
                    color: $theme-red;
                    background-color: $theme-grey;
                }
                
            }
            span {
                color: $theme-red;
                width: 75%;
                padding-left: 5px;
                &:hover {
                    color: white;
                }
            }
    
            button {
                background: $theme-red;
                color: $theme-grey;
                border-color: $theme-red;
                border-radius: 30px 30px 30px 30px;
                border-style: none;
                padding: 5px;
                margin-right: 7px;
                &:hover {
                    color: white;
                }
            }
        }
        
    }
}
